*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  width: 100%;
  height: 100%;
}

html{
  background-color: rgb(66, 66, 66);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.note{
  background-color: #494949;
  padding: 1rem;
  border-radius: .7rem;
  max-width: 20rem;
color: rgb(228, 227, 227);
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}