*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,root{
  width: 100%;;
  height: 100%;
  }

html{
  background-color: rgb(43, 43, 43);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.note{
  background-color: #646363;
  padding: 1rem;
  border-radius: .7rem;
  max-width: 15rem;
  color: rgb(247, 241, 241);
}

.notes{
  display: flex;
  flex-wrap: wrap;
  padding-block: 1rem;
  padding-inline: 2rem;
  gap: 1rem;
}

.note-create-form{
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}